.signup-container {
  font-family: verdana;
  width: 35%;
  border: 1px solid rgb(56, 61, 215);
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  background-color: aqua;
}

@media screen and (max-width: 767px) {
  .signup-container {
    width: 90%;
  }
}

h3 {
  color: blue;
}

.label {
  font-size: 10px;
  font-weight: bold;
}

.input {
  margin-top: 5px;
  margin-bottom: 20px;
  padding: 7px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid rgb(210, 61, 91);
  font-family: "roboto";
  background-color: transparent;
  outline: none;
}

.submit-button {
  background-color: blue;
  border: none;
  border-radius: 5px;
  padding: 7px;
  color: white;
  text-align: center;
  cursor: pointer;
  outline: none;
  text-decoration: none;
}

span {
  color: red;
}
