.header-container {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: blueviolet;
}

.header-container > img {
  margin-left: 50px;
  width: 5%;
  border-radius: 10px;
}
